#navigation
{
	background-color : purple;
	color : white;

}
.information
{
	margin-top : 100px;
	margin-bottom : 100px;
}

.merci
{
	background-color : purple;
	text-align: center;
	color : white;
	height : 100px;
}
