
#navigation
{
	background-color : purple;
	color : white;

}
.information
{
	margin-top : 100px;
	font-size : 1.2em;
	margin-bottom : 100px;
}

.merci
{
	background-color : purple;
	text-align: center;
	color : white;
	height : 100px;
}
h1,h3
{
	font-family : Times;
	color : purple;
	text-align: center;
	
}
